body{
    margin: 0%;
    padding: 0%;
}
.first{
    margin: 0%;
    display:flex;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position:fixed;
    border-bottom: 2px solid rgb(240, 246, 247);
    align-items: center;
    color: rgb(229, 240, 243);
    
}

.first>.y{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:30px;
    padding-left:400px;
    
}
.first>.y>.home>form>button,.first>.y>.about>button,.first>.y>.COURSES>button,
.first>.y>.contact>button{
    background: none;
    border: 0px;
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
}
.first>.y>.main{
    display: flex;
    flex-direction: row;
    gap:30px;
}
.first>.y>.main>form>button{
    background: none;
    border: 0px;
    font-size: 15px;
    color:whitesmoke;
}
.xy{
    height:600px;
}
.second-box{
    display: flex;
    height:600px;
    width: 100%;
    color: rgb(245, 242, 242);
    flex-direction: row;
    align-items: center;  
}
.second-box>.one>span{
    display: flex;
    flex-direction: row;
    gap:20px; 
}
.second-box>.one>span>.buttons>form>button{
    display: flex;
    flex-direction: row;
    background: rgb(31, 101, 145);
    border:2px solid rgb(86, 201, 236);
    cursor: pointer;
    padding: 10px;
    border-radius: 45px;
    margin-top: 50px;
    font-size: 20px;
    height:60px;
    color: whitesmoke;
   
}
.second-box>.one>span>.get>form>button{
    background:none;
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid whitesmoke ;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(59, 118, 62);
    border-radius: 50px;
    padding: 10px;
}

.second-box>.one>span>.buttons>form>button>p{
    font-size: 50px;
    margin-top: -30px;
    height: 10px;
    padding-top: 10px;
}   
.second-box>.one>span>.buttons>form>button>ul{
    margin-top: 2px;
    margin-left: -40px;

}  
.second-box>.one>ul>p{
    font-size: 40px;
    margin-top: 50px;
}
.second-box>.one>p{
    font-size: 60px;
    padding-left: 100px; 
}
.one,.second{
    flex:1; 
}
.second-box>.one{
    width: 600px;
    padding:0px;
    height: 400px;
}
.second-box>.second{
    height: 396px;
    margin-right:20px;
    margin-left: 50px;
    
}
.second-box>.second>img{
    padding-left: 0px;
    width: 700px;
    padding-top: 15px;
}
.second-box>.second>img{
    padding-left: 0px;
    width: 700px;
    padding-top: 15px;
}

.second-box>.one>ul{
    margin-top: -50px;
    font-size: 25px;
    padding-left: 110px;
}
.second-box>.one>dd{
    font-size: 40px;
    padding-left: 100px;
    padding-top: 15px;
}
.second-box>.one>span>button{
    border:0px;
    border-radius: 45px;
    cursor: pointer;
    background-color: rgb(65, 200, 209);
    margin-top: 50px;
    color: whitesmoke;
    font-size: 15px;
    height:45px;
    padding: 15px;
    margin-left:120px ;
}
.transform {
    transition: transform 0.3s ease;
}

/* Gradient background animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* Apply gradient animation to the background */
.bg-gradient-to-r {
    animation: gradientAnimation 10s ease infinite alternate-reverse;
}
