<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Results</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-4">Assessment Results</h1>
        <p class="text-2xl mt-8 font-bold text-right">Total Marks: {{ total_marks }}</p>
        <div class="grid justify-end">
            <a href="/" class="text-blue-500 mt-4">Back to Homepage</a>  
        </div>
        <div class="flex flex-col space-y-4">
            {% for result in results %}
            <div class="border p-4 rounded-lg shadow-md">
                <div class="flex justify-between">
                    <p class="text-lg font-semibold">{{ result.question }}</p>
                    {% if  result.is_correct %}
                    <p class="text-green-500 font-semibold">(Correct: {{result.correct_option }})</p>
                    {% endif %}
                </div>
                <ul class="list-disc ml-8">
                    {% for option_index, option in enumerate(result.options) %}
                        <li class="{% if option == result.selected_option %} 
                                        {% if option == result.correct_option %}
                                            bg-green-500 text-white font-bold
                                        {% else %}
                                            bg-red-500 text-white font-bold
                                        {% endif %}
                                    {% endif %} py-2 px-4 rounded-md">
                            {{ option }}                  
                        </li>
                    {% endfor %}
                </ul>
                
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
