<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>BEST-IT-PICS</title>
    <style>
        /* Custom CSS for background */
        body {
            background: linear-gradient(to right, #ff99cc, #99ccff); 
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            margin: 0;
            }
        </style>
</head>
<body>
   

    <div class="container">
        <div class="grid grid-cols-1 gap-4 justify-items-center">
            <div class="relative w-full">
                <img src="static/images/best-pro.JPG" alt="Image 1" class="rounded-lg shadow">
            </div> 
        </div>
    </div>
</body>
</html>
