<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans bg-gradient-to-r from-red-500 to-blue-500 flex justify-center">
    <div class="items flex flex-col">
        <div class="x bg-white border border-gray-300 pl-2 pr-2 pb-1 rounded-lg shadow-md mt-1 w-96 items-center">
            <form method="POST" class="space-y-4" action="/student_login">
                <a class="flex justify-end" href="/">BACK</a>
                {{ form.csrf_token }}
                <h1 class="text-center text-3xl font-bold">BEST</h1>
                <ul class="text-center">IT ACADEMY</ul>
                <div class="flex justify-center rounded-full">
                    <div>
                        <img src="\static\images\Picture2.png" class="h-16">
                    </div>
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="w-full px-2 py-2 rounded border border-gray-300",placeholder="Enter your name" )}}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="w-full px-4 py-2 rounded border border-gray-300",placeholder="enter more than 6 characters") }}
                </div>

                <div class="form-group">
                    {{ form.course.label }}
                    {{ form.course(class="w-full px-4 py-2 rounded border border-gray-300") }}
                </div>
                <div class="flex justify-center ">
                    <button type="submit" class="bg-rose-600 text-white px-6 py-2 rounded hover:bg-green-600">SIGN-UP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
